/* Hpme page layout */
#User{
    display: flex;
    flex:1;
    flex-direction: column;
    height: 100vh;
}

#DisplayTicker{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.tableStyle{
    width: 100vw;
    border: 1px solid black;
}

caption{
    font-weight: bolder;
    color: darkslategray;
    font-size: 20px;
    padding: 2%;
}

td{
    border: 1px solid black;
    padding: 2vh 2vw;
}
