/* Hpme page layout */
#User{
    display: flex;
    flex:1;
    flex-direction: column;
    height: 100vh;
}

#UserBody{
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll;
}

#basicInfo{
    flex: 1;
}

.analyticsBody{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableStyle{
    width: 90vw;
    border: 1px solid black;
}

caption{
    font-weight: bolder;
    color: darkslategray;
    font-size: 20px;
    padding: 2%;
}

td{
    border: 1px solid black;
    padding: 2vh 2vw;
}

.padding_2{
    padding: 2% 0px;
}